<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.me.pharmacy.mapper.AbsenceMapper" >
	<resultMap id="AbsenceMap" type="pers.me.pharmacy.bean.Absence" >
		<id column="Lno" property="lno" jdbcType="VARCHAR" />
		<result column="Lquantity" property="lquantity" jdbcType="INTEGER" />
		<result column="Lcondition" property="lcondition" jdbcType="LONGVARCHAR" />
		<result column="Ldade" property="ldade" jdbcType="DATE" />
		<association property="dno" column="Dno">
			<id property="dno" column="Dno" jdbcType="VARCHAR"/>
			<result column="Dname" property="dname" jdbcType="VARCHAR"/>
			<result column="Dclass" property="dclass" jdbcType="VARCHAR"/>
			<result column="Dstandard" property="dstandard" jdbcType="VARCHAR"/>
			<result column="Manufacture_date" property="manufactureDate" jdbcType="DATE"/>
			<result column="Effective_date" property="effectiveDate" jdbcType="DATE"/>
			<result column="Dbidd" property="dbidd" jdbcType="FLOAT"/>
			<result column="Dprice" property="dprice" jdbcType="FLOAT"/>
			<result column="Approve_no" property="approveNo" jdbcType="VARCHAR"/>
			<result column="Country_no" property="countryNo" jdbcType="VARCHAR"/>
		</association>
	</resultMap>
	
</mapper>