<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pers.me.pharmacy.mapper.SaleMapper" >
  <resultMap id="SaleMap" type="pers.me.pharmacy.bean.Sale" >
    <id column="Mno" property="mno" jdbcType="VARCHAR" />
    <result column="Mdate" property="mdate" jdbcType="DATE" />
    <result column="Mquantity" property="mquantity" jdbcType="INTEGER" />
    <association property="dno" column="Dno">
			<id property="dno" column="Dno" jdbcType="VARCHAR"/>
			<result column="Dname" property="dname" jdbcType="VARCHAR"/>
			<result column="Dclass" property="dclass" jdbcType="VARCHAR"/>
			<result column="Dstandard" property="dstandard" jdbcType="VARCHAR"/>
			<result column="Manufacture_date" property="manufactureDate" jdbcType="DATE"/>
			<result column="Effective_date" property="effectiveDate" jdbcType="DATE"/>
			<result column="Dbidd" property="dbidd" jdbcType="FLOAT"/>
			<result column="Dprice" property="dprice" jdbcType="FLOAT"/>
			<result column="Approve_no" property="approveNo" jdbcType="VARCHAR"/>
			<result column="Country_no" property="countryNo" jdbcType="VARCHAR"/>
		</association>
		<association property="cno" column="Cno">
			<id column="Cno" property="cno" jdbcType="VARCHAR"/>
			<result column="Cname" property="cname" jdbcType="VARCHAR"/>
			<result column="Csex" property="csex" jdbcType="VARCHAR"/>
			<result column="Cage" property="cage" jdbcType="INTEGER"/>
			<result column="Cphone" property="cphone" jdbcType="CHAR"/>
			<result column="Caddress" property="caddress" jdbcType="VARCHAR"/>
			<result column="Cclass" property="ccalss" jdbcType="VARCHAR"/>
			<result column="Cidentify" property="cidentity" jdbcType="CHAR"/>
		</association>
  </resultMap>
  
</mapper>